
@import url('https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap')

$maxWidth = 1200px

$white = #fff
$whiteBg = #F8F5F2
$black = #111
$yellow = #FFB634
$blue = #0061e3

$fontXXL = 72px
$fontXL = 42px
$fontL = 24px
$fontM = 16px

@import "reset"
@import "main"
@import "header"
@import "animation"
