---
date: '2020-09-11'
title: 'Sample title'
description: 'Sample description here'
author: 'author'
type: post
---

import { Button } from '../components/Button'

<Button>Same button</Button>

Sample text here

Sample text here
